.footer {
  &-app {
    background-color: #a5d207;
    padding: 30px 0;
    .extension, .app {
      height: 100%;
      display: flex;
      align-items: center;
    }
    .extension {
      .link {
        color: #000;
        margin-left: 15px;
        line-height: 1.2rem;
        &:hover {
          text-decoration: underline;
        }
        strong {
          display: block;
        }
      }
    }
    .app {
      .text {
        line-height: 1.2rem;
      }
      .icons {
        display: flex;
        img {
          height: 45px;
          margin-left: 10px;
        }
      }
    }
  }
  &-content {
    background-color: #415400;
    padding: 20px 0;
    h3 {
      color: #ffffff;
      font-size: 20px;
    }
  }
  &-links {
    margin-top: 20px;
    ul {
      list-style: none;
      padding: 0;
      li {
        margin: 15px 0;
        a {
          color: #e3e6eb;
        }
      }
    }
  }
  .brands {
    font-size: 14px;
    color: #ecedf0;
    strong {
      color: #ffffff;
      font-weight: 700;
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {
    &-app {
      padding: 20px 0;
      .extension {
        display: none;
      }
      .app {
        display: flex;
        flex-direction: column;
        align-items: normal;
        .text {
          margin-bottom: 20px;
        }
        .icons {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          img {
            height: auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}
